@using ModernDynamicData
@using ModernDynamicData.ViewModels.DataModel
@model DetailViewModel

<h1>@Model.DataModel.DataModelName</h1>
<h2>Table list</h2>
<div class="list-group col-lg-8">
    @foreach (var table in Model.DataModel.Tables)
    {
        <a class="list-group-item" asp-route="@Constants.Routes.Table" asp-route-dataModel="@Model.DataModel.DataModelName" asp-route-action="View" asp-route-table="@table.Name">@table.Name</a>
    }
</div>
